body {
  font-family: "Cinzel Decorative", cursive;
  --color-text: #fff;
  --color-bg: #07080a;
  --color-bg-2: #282d33;
  --color-link: #ffffff;
  --color-link-hover: #ffd500;
  background: radial-gradient(
    ellipse at 50% 50%,
    var(--color-bg) 40%,
    var(--color-bg-2) 150%
  );
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

/* ----------------------------------------------------------------- */

.modal,
.modal-box {
  z-index: 900;
}

.modal-sandbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8);
  overflow: auto;
}

.modal-box {
  position: relative;
  width: 80%;
  max-width: 920px;
  margin: 100px auto;
  animation-name: modalbox;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0, 0, 0.3, 1.6);
}

.modal-header {
  padding: 10px 10px 10px 40px;
  background: #1c27c5;
  color: #ffffff;
}

.modal-body {
  font-family: "Exo 2", sans-serif;
  background: #2c3033;
  padding: 40px 40px;
  font-size: 1.2rem;
  line-height: 2rem;
}

/* Close Button */
.close-modal {
  text-align: right;
  cursor: pointer;
}

/* Animation */
@-webkit-keyframes modalbox {
  0% {
    top: -250px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes modalbox {
  0% {
    top: -250px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}
